.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
}

#preview {
  img {
    height: 200px;
    object-fit: cover;
    margin-right: 10px;
    margin-top: 10px;
  }
}
