.all-images {
  width: 1300px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .all-images {
    width: 1000px;
    margin: 0 auto;
  }
}
@media (max-width: 1000px) {
  .all-images {
    width: 800px;
    margin: 0 auto;
  }
}
@media (max-width: 800px) {
  .all-images {
    width: 700px;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .all-images {
    width: 480px;
    margin: 0 auto;
  }
}
