// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
}

.all-images {
  width: 1300px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .all-images {
    width: 1000px;
    margin: 0 auto;
  }
}
@media (max-width: 1000px) {
  .all-images {
    width: 800px;
    margin: 0 auto;
  }
}
@media (max-width: 800px) {
  .all-images {
    width: 700px;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .all-images {
    width: 480px;
    margin: 0 auto;
  }
}
