<div class="all-images">
  <% @uploads.each do |upload| %>
    <% upload.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 250, width: 320, crop: :fill, class: "mb-2" %>
    <% end %>
  <% end %>
</div>
